.header {
    background-color: #202528;
    padding: 1rem 2rem;
    color: green;
    text-align: center;
    justify-content: space-between;
    text-justify:distribute-all-lines;
}
.shoulder {
    padding: 1rem 2rem;
    color: #fff;
    text-align: center;
    font-family: IBM Plex Mono, sans-serif;
    margin: 18rem;
    font-size: 100px;
}

body {
    background-color: #000;
    color: #fff;
    max-height: 100%;
    max-width: 1920px;
    margin: auto;
}


.gtitle {
    color: #42e7d7;
    font: "Helvetica Neue, Lucida Grande, sans-serif";
    text-align: left;
    padding: 1rem;
}

.gdate {
    font: "Helvetica Neue, Lucida Grande, sans-serif";
    text-align: left;
    padding: 1rem;
}

.gdesc {
    color: #fff;
    font: "Helvetica Neue, Lucida Grande, sans-serif";
    text-align: left;
    padding: 1rem;
}
.desc_img {
    width: 400px;
    height: 300px;
    padding: 1rem;
}

.blink {
    color: #fff;
    align-items: center;
    background-color: #202528;
    cursor: pointer;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    padding: 0 1rem;
    text-decoration: none;
    width: 150px;
}

.footer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;

    background-color: #292929;
    width: 100%;
    height: 300px;
    padding: 1rem 2rem;
}

.footerBlock {
    width:700px;
    height: auto;
    text-align: justify;
    justify-content: center;
}
.copyright{
    margin-top: 5rem;
    color: #989898;
    text-align: center;
}

a{
    text-decoration: none;
    outline:none;
}

.ftitles{
    text-align: justify;
    justify-content: space-between;

    color: #42e7d7;
    font: "Helvetica Neue, Lucida Grande, sans-serif";
}

.form{
    background-color: #202528;
    border-width:4px;
    border-color: #42e7d7;
    width: 200px;
    color: #fff;
}

.tings{
    display: flex;
    justify-content: space-between;
}

.gridspot{
    display: flex;
    justify-content: space-evenly;
    max-height: 100%;
    max-width: 1450px;
    margin:auto;
}
.reco{
    padding: 1rem;
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 450px;
    height: 800px;
    object-fit: cover;
    flex:1;
    margin: 3rem;

}
.badges{
    display: flex;
}

.badge{
    display: inline-block;
    color: #fff;
    background-color: #000;
    margin: 0.2em;
}

.submission{
    background-color: #42e7d7;
    border-width:4px;
    border-color: #42e7d7;
    text-decoration: none;
}


.about_me_section{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 400px 400px;

}

.bigting{
    text-align: center;
}

.goup{
    height: 50px;
    width: 50px;
}