.header {
    background-color: #202528;
    padding: 1rem 2rem;
    color: green;
    text-align: center;
    justify-content: space-between;
    text-justify:distribute-all-lines;
}
.shoulder {
    padding: 1rem 2rem;
    color: #fff;
    text-align: center;
    font-family: IBM Plex Mono, sans-serif;
    margin: 25rem;
    font-size: 100px;
}

body {
    background-color: #000;
    color: #fff;
    max-height: 100%;
    max-width: 1920px;
    margin: auto;
}


.gtitle {
    color: #42e7d7;
    font: "Helvetica Neue, Lucida Grande, sans-serif";
    text-align: left;
    padding: 1rem;
}

.gdate {
    font: "Helvetica Neue, Lucida Grande, sans-serif";
    text-align: left;
    padding: 1rem;
}

.gdesc {
    color: #fff;
    font: "Helvetica Neue, Lucida Grande, sans-serif";
    text-align: left;
    padding: 1rem;
}
.desc_img {
    width: 400px;
    height: 300px;
    padding: 1rem;
}

.blink {
    color: #fff;
    align-items: center;
    background-color: #202528;
    cursor: pointer;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    padding: 0 1rem;
    text-decoration: none;
    width: 150px;
}

.bfooter {
    background-color: #202528;
    text-decoration: none;
    height:250px;
}
.footer {
    width: 1200px;
    padding: 1rem 2rem;
    text-align: justify;
    text-decoration: none;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.copyright{
    margin-top: 5rem;
    color: #989898;
    text-align: center;
}

a{
    text-decoration: none;
    outline:none;
}

.ftitles{
    display: flex;
    justify-content: space-between;

    color: #42e7d7;
    font: "Helvetica Neue, Lucida Grande, sans-serif";
    padding-left: 3rem;
    padding-right: 2rem;

}

.form{
    background-color: #202528;
    border-width:4px;
    border-color: #42e7d7;
    width: 200px;
    color: #fff;
}

.tings{
    display: flex;
    justify-content: space-between;
}

.gridspot{
    display: flex;
    justify-content: space-evenly;
    max-height: 100%;
    max-width: 1450px;
    margin:auto;
}
.reco{
    padding: 1rem;
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    width: 450px;
    border-radius: 20px;
    margin: 3rem;

}
span {
    width: 100%;
    }
.badge{
    display: inline-block;
    color: #fff;
    background-color: #000;
}