.header {
    background-color: #202528;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    color: green;
    text-align: center;
    justify-content: space-between;
    text-justify:distribute-all-lines;
}

body {
    background-color: #000;
    color: #fff;
    margin: 0;
    text-align: center;
}


.gtitle {
    color: #42e7d7;
    font: "Helvetica Neue, Lucida Grande, sans-serif";
}

.gdate {

}

.gdesc {
    color: DimGray;
    font: "Helvetica Neue, Lucida Grande, sans-serif";
}