{% extends "layout.html" %}


{% block title %}
    Index
{% endblock %}

{% block index %}

<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Number of Shares</th>
            <th>Share Price</th>
            <th>Total Value</th>
        </tr>
    </thead>

    <tbody>
        {% for data in stocks %}
        <tr>
            <td>{{ data.symbol }}</td>
            <td>{{ data.shares }}</td>
            <td>{{ data.price }}</td>
            <td>{{ data.value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}