{% extends "layout.html" %}


{% block title %}
    Index
{% endblock %}

{% block index %}
<h5>{{congrats}}</h5>
<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Number of Shares</th>
            <th>Share Price</th>
            <th>Total Value</th>
        </tr>
    </thead>

    <tbody>
        {% for data in stocks %}
        <tr>
            <td>{{ data.symbol }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.shares }}</td>
            <td>{{ data.price }}</td>
            <td>{{ data.value }}</td>
        </tr>
        {% endfor %}
    </tbody>

    <tfooter>
        {% for foot in footer %}
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td style="font-weight: bold"> {{foot.key}} </td>
            <td style="font-weight: bold"> {{foot.value | usd}} </td>
        </tr>
        {% endfor %}
    </tfooter>
</table>
{% endblock %}