{% extends "layout.html" %}


{% block title %}
    Index
{% endblock %}

{% block index %}

<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Number of Shares</th>
            <th>Share Price</th>
            <th>Total Value</th>
        </tr>
    </thead>

    <tbody>
        {{for i in i}}
        <tr>
            <td>wagwan</td>
            <td>wagwan</td>
            <td>wagwan</td>
            <td>wagwan</td>
        </tr>

    </tbody>





</table>
{% endblock %}