{% extends "layout.html" %}

{% block body %}
<form action="/register" method="POST">
    <div>
        <input type="text" autofocus name="username" placeholder="Username" class="form-control mx-auto w-auto" autocomplete="off">
    </div>
        <input type="text" autofocus name="password" placeholder="Password" class="form-control mx-auto w-auto" autocomplete="off">
    <div>
        <input type="text" autofocus name="confirmation" placeholder="Retype Password" class="form-control mx-auto w-auto" autocomplete="off">
    </div>
        <button style="justify-content: center" class="btn btn-primary" type="submit">Register</button>
        <h3 style="text-align: center">{{congrats}}</h3>





</form>
{% endblock %}