{% extends "layout.html" %}

{% block body %}
<form action="/register" method="POST">
    <div>
        <input type="text" autofocus name="username" placeholder="Username">
    </div>
        <input type="text" autofocus name="password" placeholder="Password">
    <div>
        <input type="text" autofocus name="confirmation" placeholder="Retype Password">
    </div>
        <button class="btn btn-primary" type="submit">Register</button>
    <div>
        <h3>{congrats}</h3>
    </div>





</form>
{% endblock %}