{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}
{% block sell %}

<form action="/sell" method="post">

  <div class="mb-3">
    <select class="form-select mx-auto w-auto" name="symbol">
      <option disabled selected>Stock</option>
      {% for stock in stocks %}
        <option>{{stock.symbol}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <input min="0" max={{n_stocks}} autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of shares" type="number">
  </div>

  <button class="btn btn-primary" type="submit">Sell</button>

</form>

<script>
  choice = document.GetElementByID()
</script>

{% endblock %}